<div class="card mt-2">
  <div class="d-flex card-header justify-content-between align-items-center">
    <a
      href="/post/{{id}}"
      class="text-dark fs-4 text-decoration-none fw-bold"
    >{{title}}</a>
    <p class="m-0">Posted by {{user.username}} on {{format_date created_at}}</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>